@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&family=Playwrite+US+Trad:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'bother-font';
    src: url('fonts/BrothersideSignature.otf') format('opentype'),
         url('fonts/BrothersideSignature.ttf') format('truetype');
}


.bt-font {
    font-family: 'bother-font';
}

.pp {
    font-family: 'Poppins', sans-serif;
}

.tm-font{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
}


.playwrite-font{
    font-family: "Playwrite US Trad", serif;
}

.pf-font {
    font-family: 'Playfair Display', serif;
}

.mst-font {
    font-family: 'Montserrat', sans-serif;
}

.jkt-font{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.wk-font{
    font-family: 'Work Sans', sans-serif;
}

.pink{
  color: pink;
}

.bg-pink{
  background-color: pink;
}

::placeholder{
    font-weight: 200;
}


.pkecil{
    font-size: 12px;
}

/* 
.hidden {
    opacity: 0;
    transition: all 1.3s;
    filter: blur(5px);
    transform: translateY(-100%);
}
  
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
} */

a{
    text-decoration: none;
}

.member :nth-child(1) {
    transition-delay: 200ms;
}
.member :nth-child(2) {
    transition-delay: 400ms;
}
.member :nth-child(3) {
    transition-delay: 600ms;
}
.member :nth-child(4) {
    transition-delay: 800ms;
}
.member :nth-child(5) {
    transition-delay: 1000ms;
}
.member :nth-child(6) {
    transition-delay: 1200ms;
}
.member :nth-child(7) {
    transition-delay: 1400ms;
}
.member :nth-child(8) {
    transition-delay: 1600ms;
}
.member :nth-child(9) {
    transition-delay: 1800ms;
}
.member :nth-child(10) {
    transition-delay: 2000ms;
}
.member :nth-child(11) {
    transition-delay: 2200ms;
}
.member :nth-child(12) {
    transition-delay: 2400ms;
}
.member :nth-child(13) {
    transition-delay: 2600ms;
}
.member :nth-child(14) {
    transition-delay: 2800ms;
}
.member :nth-child(15) {
    transition-delay: 3000ms;
}
.member :nth-child(16) {
    transition-delay: 3200ms;
}